@charset "utf-8";

@import '~antd/dist/antd.css';

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.margin-right-small {
  margin-right: 10px;
}

.margin-left-small {
  margin-left: 10px;
}