@charset "utf-8";

@import '~antd/dist/antd.css';

@import '~antd/dist/antd.dark.css';

.logo {
  height: 31px;
  margin: 0 24px 16px 0;
  float: left;
}

.margin-right-small {
  margin-right: 10px;
}

.margin-top-small {
  margin-top: 10px;
}

.margin-small {
  margin: 10px;
}

.margin-left-small {
  margin-left: 10px;
}

.margin-left {
  margin-left: 24px;
}

.site-layout-content {
  padding: 24px;
  min-height: 280px;
  border-radius: 0 20px 20px 0;
}

.house-item {
  margin: 10px;
  cursor: pointer;
}

.new-house-form {
  padding: 24px;
}

.align-right {
  text-align: right;
}

.room-tree {
  border: 1px solid #737373
}

.room-tree-menu {
  border-bottom: 1px solid #737373
}